/* Dashboard.css */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #7ecabad8; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }

  .dashboard-heading {
    font-size: 35px;
    padding: 5px 25px;
    margin-bottom: 25px;
    margin-top: 15px;
  }
  
  .dashboard-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard-links a {
    margin: 0 10px;
    text-decoration: none;
    color: hsla(214, 91%, 42%, 0.966);
    font-size: 25px;
  }
  
p {
  font-size: 20px;;
}